* {
    box-sizing: border-box;
    background-color: #2D3250;
    color: #F8EDFF;
    font-family: myFirstFont;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maincube {
    background-color: #424769;
    padding: 19px 20px;
    margin: 20px;
    width: 340px;
    height: auto;
    border-radius: 10px;
    color: #F8EDFF;
    display: block;
    text-align: center;
}

.linkcube {
    background-color: #7077A1;
    padding: 18px;
    margin: none;
    border-radius: 15px 15px;
}

.img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.w1,
.attribution,
.lnk {
    background-color: transparent;
    font-weight: 400;
}

.adress {
    color: #F6B17A;
    font-weight: 600;
    background-color: transparent;
}

a:link {
    color: #F6B17A;
}

a:visited {
    color: rgb(0, 181, 227);
}

@font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@media (max-width: 375px) {
    .maincube {
        width: 100%;
        margin: 10px;
    }

    /* You can add more specific styles for mobile devices here */
}

/* Styles for devices between 376px and 1440px (e.g., tablets) */
@media (min-width: 376px) and (max-width: 1440px) {
    .maincube {
        /* Adjust styles for tablets or other devices within this range if needed */
    }

    /* You can add more specific styles for devices in this range */
}

/* Styles for devices larger than 1440px (e.g., desktop) */
@media (min-width: 1441px) {
    .maincube {
        /* Adjust styles for larger desktop screens if needed */
    }

    /* You can add more specific styles for devices larger than 1440px */
}